html,
body,
* {
  margin: 0;
  padding: 0;
  counter-reset: section;
}
body{
  background-image: linear-gradient(rgb(192, 247, 251), rgb(212, 212, 165),  rgb(241, 193, 233));

}
.nav-bar {
    list-style-type: none;
    display: block;
    background-color: rgb(132, 218, 132);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 3em;
  }

  .nav-bar li {
    display: inline-block;
    padding: 1em;
    height: 1em;
  }

  .nav-bar li:hover {
    cursor: pointer;
    background-color: rgb(150, 240, 150);
  }