@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.material-icons {
  margin-right: 0.3rem;
  padding-top: 0.2rem;
}
