<section class="mat-typography"><div class="mat-app-background basic-container">
  <button mat-button [routerLink]="['/home']">
    <mat-icon svgIcon="yoga-icon"></mat-icon>
  </button>
  <div class="space"></div>
  <button mat-button [routerLink]="['/home']">INICIO</button>

  <button mat-button [routerLink]="['/blog']">BLOG</button>

  <button mat-button [routerLink]="['/place']">LUGAR</button>

  <button mat-button [routerLink]="['/activities']">ACTIVIDADES</button>

  <button mat-button [routerLink]="['/contact']">CONTACTO</button>
</div>
<router-outlet></router-outlet>