.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-app-background {
  background-color: #80669b;
  color: rgb(255, 255, 255);
  text-align: right;
  display: flex;
}

.space {
  flex-grow: 2;
}
::ng-deep .mat-icon {
  height: 3em !important;
  left: 0 !important;
}
